<footer class="blog-footer">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    <p>Proudly published with <a href="http://hexo.io/">Hexo</a> | theme - <a href="https://github.com/sinchang/hexo-theme-zenblog">Zenblog</a></p>
</footer>
