<html>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <div class="mask"></div>
    <div class="container">
        <%- body %>
    </div>

    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>

</html>
